*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 80px;
}
img{
    height: 400px;
    border-radius: 30px;
}
button{
     padding: 20px 30px;
     background-color: black;
     color: white;
     font-size: 40px;
     font-style: 600;
     border: none;
     border-radius: 20px;
     cursor: pointer;
}
button:active{
    scale: 0.95;
}