*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.card{
    /* height: 350px; */
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    /* display: flex; */
}

.progress{
    height: 16px;
    width: 100%;
    border-radius: 50px;
    background-color: gainsboro;
}

.growth{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: rgb(89, 255, 47);
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.card .text h1{
    font-size: 40px;
}

.card .text button{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(89, 255, 47);
    color: white;
    cursor: pointer;
}
.card .text button:active{
    scale: 0.95;
}
